APP_URL=http://localhost
APP_PORT=4000
APP_NAME=boilerplate
APP_ENV=local
APP_KEY=
APP_DEBUG=true

ACCESS_SECRET=ACCESS_SECRET
REFERSH_SECRET=REFERSH_SECRET

DB_HOST=localhost
DB_PORT=5432
DB_NAME=api
DB_USERNAME=local-dev
DB_PASSWORD=boilerplates

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=boilerplates

MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@dataverse.systems
MAIL_PASSWORD=3418e45f4146063819509fcc3cd40338-62916a6c-0bad274c